.section_title {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid var(--secondary);
	font-size: 1.063rem;
	font-weight: 700;
	padding-bottom: 5px;
}

.text_container {
	display: flex;
	flex-direction: column;
	margin-top: 4.375rem;
}

.about {
	display: flex;
	gap: 3rem;
}

.about_img {
	width: 21.875rem;
	height: 20rem;
	border-radius: 1.063rem;
	object-fit: cover;
}

.about_text {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.about_text h2 {
	font-size: 1.563rem;
	font-weight: 700;
	line-height: 1.4;
}

.about_text p {
	font-size: 1.063rem;
	line-height: 1.6;
	font-weight: 500;
}
