.about_container {
	display: flex;
	flex-direction: column;
	margin-top: 4.375rem;
}

.about {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.details {
	display: flex;
	justify-content: space-between;
	margin-top: 4.5rem;
}
