@keyframes slide {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translate(calc(-100% - 1.875rem));
	}
}

.carusel_container {
	position: relative;
	display: flex;
	gap: 1.875rem;
	overflow: hidden;
}

/* .box {
	position: absolute;
	top: 0;
	right: 0;
	maxwidth
} */

.carusel_container::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 2rem;
	height: 100%;
	background: linear-gradient(
		to right,
		rgba(0, 0, 0, 1),
		rgba(0, 0, 0, 0)
	);
	z-index: 1;
}

.carusel_container::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 2rem;
	height: 100%;
	background: linear-gradient(
		to left,
		rgba(0, 0, 0, 1),
		rgba(0, 0, 0, 0)
	);
	z-index: 1;
}

.carusel {
	display: flex;
	animation: 35s slide infinite linear;
	gap: 1.875rem;
}

.skil_icon {
	height: 3rem;
	max-width: none;
}
