.nav_container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	/* max-width: 68rem; */
	padding: 1.4rem 2rem;
	/* margin: 24px auto; */
	border-bottom: solid 1px var(--orizontal-line);
}

.name_container {
	display: flex;
	align-items: center;
	gap: 1.5rem;
	font-size: 1.5rem;
	font-weight: 500;
}

/* .img_container {
	display: flex;
	align-items: center;
	max-width: 36px;
} */

.img_container img {
	max-width: 100%;
	height: auto;
	border-radius: 50%;
}

.link_container {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.link {
	display: flex;
	list-style: none;
	gap: 1rem;
}

.link li {
	font-weight: 500;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	border-radius: 0.75rem;
	transition: background-color 0.2s ease-in-out;
}

.link li:hover {
	background-color: var(--secondary2);
}

@media (max-width: 768px) {
	.name_container {
		font-size: 1rem;
	}

	.link {
		display: none;
	}
}
