.card_container {
	width: 30%;
	background: var(--secondary1);
	border-radius: 12px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.learning {
	background: var(--background1);
}

.icon svg {
	stroke: var(--text);
	font-size: 7.5rem;
	stroke-width: 1.6;
}

.text {
	max-width: 12.5rem;
	text-align: center;
	color: var(--text);
	font-size: 1rem;
	font-weight: 500;
}

@media (max-width: 768px) {
	.card_container {
		width: auto;
		padding: 1.25rem 0;
	}
}
/* Per grandezze cellulari / tablet mettere le card una sotto l'altra, che quando vengono cliccate si allungano verso il basso e fanno comparire il testo1 */
