@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--text: #e6eaed;

	--background: #060709;
	--background1: #0f1113; /* From RealTimeColors Card background */
	--background2: #121315; /* From RealTimeColors Footer background */
	--background3: #27282b; /* From RealTimeColors Footer Orizontal Line, why here? why not */

	--primary: #aec2cf;

	--secondary: #385569;
	--secondary1: #151f26; /* From RealTimeColors Dashboard card background */
	--secondary2: #3855697f;

	--accent: #719dbb;

	--link: #51b1f5;
}

* {
	margin: 0;
	padding: 0;
	color: var(--text);
}

body {
	margin: 0;
	background-color: var(--background);
}

a {
	text-decoration: none;
}
