.hero_section {
	height: 100vh;
}

.about_section {
	margin-bottom: 5.625rem;
}

.project_section {
	margin-bottom: 5.625rem;
}

@media (max-width: 900px) {
	.hero_section {
		height: auto;
		margin-bottom: 10rem;
	}
}
