.link {
	display: flex;
	list-style: none;
	gap: 3rem;
}

.menu {
	display: none;
}

.link li {
	display: inline-block;
	position: relative;
	font-weight: 500;
	font-size: 1rem;
	padding: 0.2rem 0;
	/* padding: 0.5rem 1rem; */
	/* border-radius: 0.75rem; */
	/* transition:  .2s ease-in-out; */
}

.link li::after {
	content: '';
  	position: absolute;
  	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--text);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.link li:hover::after {
	/* background-color: var(--secondary2); */
	transform: scaleX(1);
	transform-origin: bottom left;
}

@media (max-width: 900px) {
	.link {
		display: none;
	}

	.menu {
		position: relative;
		display: flex;
	}

	.menu::before {
		content: '';
		position: absolute;
		width: calc(clamp(16px, 1.2vw, 19px) / 2.75);
		height: calc(clamp(16px, 1.2vw, 19px) / 2.75);
		background-color: var(--text);
		border-radius: 50%;
		top: 50%;
		left: -1rem;
		transform: translateY(-50%);
	}
}
