.button_container {
	position: fixed;
	display: flex;
	align-items: center;
	z-index: 250;
	top: 2.5rem;
	right: 2.5rem;
}

.theme_button {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	width: clamp(4rem, 6vw, 5.5rem);
	height: clamp(4rem, 6vw, 5.5rem);
	padding: 0;
	margin: 0;
	border: solid 2px var(--secondary);
	border-radius: 50%;
	background-color: #000;
	cursor: pointer;
	outline: none;
	transition: background-color 0.2s ease-in-out;
}

.theme_button:hover {
	background-color: var(--secondary);
}

.theme_button svg {
	display: flex;
	align-items: center;
	justify-content: center;
	stroke-width: 3;
	height: 1.1rem;
	width: 1.1rem;
}

/* .menu {
	display: none;
} */

@media (max-width: 900px) {
	/* .theme_button {
		display: none;
	} */

	.menu {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}


@media (max-width: 500px) {
	.button_container {
		top: 1.25rem;
		right: 2rem;
	}
}