@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--text: #e6eaed;

	--background: #060709;
	--background1: #0f1113; /* From RealTimeColors Card background */
	--background2: #121315; /* From RealTimeColors Footer background */

	--primary: #aec2cf;

	--secondary: #385569;
	--secondary1: #151f26; /* From RealTimeColors Dashboard card background */

	--accent: #719dbb;
}

* {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	color: var(--text);
}

body {
	margin: 0;
	background-color: var(--background);
}

a {
	text-decoration: none;
}
